@font-face {
  font-family: "Switzer-Variable";
  src: url("../src/fonts/Switzer-Variable/Switzer-Variable.woff2") format("woff2"), url("../src/fonts/Switzer-Variable/Switzer-Variable.woff") format("woff"), url("../src/fonts/Switzer-Variable/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
:root {
  --green: rgb(169, 255, 10);
  --lightGreen: rgb(196, 255, 86);
  --yellow: #f7e744;
  --light: white;
  --dark: black;
  --white: white;
  --black: black;
  --border-radius: 5px;
  --stroke-size: 2px;
  --body-size: 1.2em;
  --mainPadding: 1.56em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: var(--dark);
  font-weight: normal;
}

html,
body {
  font-family: Switzer-Variable, sans-serif;
  font-size: 1vw;
  color: inherit;
  background-color: var(--green);
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
}
html h1,
body h1 {
  font-size: calc(var(--body-size) * 3);
}
html h2,
body h2 {
  font-size: calc(var(--body-size) * 2);
  font-weight: 500;
}
html h3,
body h3 {
  font-size: calc(var(--body-size) * 1.5);
}
html h4,
body h4 {
  font-size: calc(var(--body-size) * 1.3);
}
html h5,
body h5 {
  font-size: calc(var(--body-size) * 1.2);
}
html h6,
body h6 {
  font-size: calc(var(--body-size) * 1.1);
}
html p,
body p {
  font-size: var(--body-size);
  max-width: 60ch;
}
html .display_heading,
body .display_heading {
  font-size: calc(var(--body-size) * 4.3);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
html a,
body a {
  padding: 0 0 0.25em 0;
  color: var(--dark);
  font-size: inherit;
  text-transform: uppercase;
}
html button:focus,
html a:focus,
body button:focus,
body a:focus {
  outline: none;
  color: var(--dark);
  background: none;
}
html button,
body button {
  height: 25px;
  padding: 0.1em 0.5em;
  font-family: inherit;
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--dark);
  background-color: var(--green);
  border: none;
  outline: none;
  cursor: pointer;
}
html button:hover,
html button:active,
body button:hover,
body button:active {
  background-color: var(--lightGreen);
}

main {
  width: 100%;
  margin: auto;
}
main section {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: var(--mainPadding);
  background-color: var(--light);
}

@media only screen and (min-width: 1920px) {
  html,
body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  html,
body {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  html,
body {
    font-size: 11px;
  }
}
@media only screen and (max-width: 568px) {
  html,
body {
    font-size: 8px;
  }
}
@media only screen and (max-width: 420px) {
  html,
body {
    font-size: 7px;
  }
}
@media only screen and (max-width: 280px) {
  html,
body {
    font-size: 6px;
  }
}
::-moz-selection {
  color: var(--dark);
  background-color: var(--green);
}
::selection {
  color: var(--dark);
  background-color: var(--green);
}