.home .container {
  background-color: var(--light);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--mainPadding);
}
.home .container .grid_item_left {
  grid-column-start: 1;
  grid-column-end: 3;
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--mainPadding) * 2);
  height: 86vh;
}
.home .container .grid_item_center {
  grid-column-start: 3;
  grid-column-end: 8;
}
.home .container .grid_item_right {
  grid-column-start: 8;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--mainPadding) * 2);
  height: 86vh;
}

.catagory_selection h2 {
  margin-left: calc(var(--mainPadding) / 1.2);
}
.catagory_selection ul {
  background-color: var(--white);
  padding: calc(var(--mainPadding) / 1.2);
}
.catagory_selection ul li {
  margin-bottom: 0.5em;
  opacity: 50%;
}
.catagory_selection ul li a {
  font-size: calc(var(--mainFontSize) * 0.9);
  text-transform: none;
}

.headline h1 {
  margin-bottom: var(--mainPadding);
}
.headline h2 {
  max-width: 32ch;
}
.headline .img {
  width: 100%;
  height: 26.04em;
  background-color: var(--imgBG);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 2;
}
.headline .news_details {
  padding: var(--secondPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--white);
}
.headline .news_details .button,
.headline .news_details button {
  width: 11.82em;
  height: 2.59em;
  border-radius: var(--rounded-radius);
}
.headline .news_details::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: inherit;
  z-index: 0;
}
.headline .news_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  padding: 0 var(--secondPadding);
  z-index: 1;
  margin-top: var(--secondPadding);
}
.headline .news_stats span {
  color: var(--red);
  font-weight: bold;
}
.headline .news_stats ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline .news_stats ul li {
  margin-left: var(--secondPadding);
  display: flex;
  align-items: center;
}
.headline .news_stats ul li img {
  margin-right: 0.3em;
}

.news_feeds {
  margin: var(--mainPadding) 0;
}

.videos {
  margin-top: calc(var(--mainPadding) * 1.2);
}
.videos .video_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--secondPadding);
}
.videos .video_container .video {
  width: 100%;
  height: 8.33em;
  background-color: var(--imgBG);
  display: flex;
  justify-content: center;
  align-items: center;
}
.videos .video_container .video img {
  width: 20%;
}

.category_heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--mainPadding);
}
.category_heading h2 {
  font-size: var(--mainFontSize);
}
.category_heading a {
  text-transform: none;
  position: relative;
  opacity: 50%;
}
.category_heading a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--dark);
  opacity: 50%;
}

.center_heading h2 {
  font-weight: bold;
}

.political {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.political .news {
  display: flex;
  align-items: center;
  margin-bottom: var(--secondPadding);
  text-transform: none;
}
.political .news .img {
  width: 4.17em;
  aspect-ratio: 1;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  margin-right: var(--secondPadding);
}
.political .news h3 {
  font-size: var(--mainFontSize);
  font-weight: 500;
  max-width: 28ch;
}
.political .news:last-child {
  margin-bottom: var(--mainPadding);
}

.sports .img {
  width: 100%;
  height: 85px;
  background-color: var(--imgBG);
}

@media only screen and (max-width: 1200px) {
  .home .container {
    display: block;
  }
  .catagory_selection {
    display: none;
  }
  .headline h1 {
    font-size: 2em;
    margin-bottom: var(--secondPadding);
  }
  .headline .news_details {
    display: block;
  }
  .headline .news_details h2 {
    margin-bottom: var(--secondPadding);
    font-size: 2em;
  }
  .headline .news_details .button {
    width: 100%;
    height: 3em;
    font-size: 1.2em;
  }
  .category_heading h2 {
    font-size: 2em;
  }
  .political .category_heading,
.sports .category_heading {
    margin: var(--mainPadding) 0;
  }
  .political .category_heading h2,
.sports .category_heading h2 {
    font-size: 2em;
  }
  .political .category_heading a,
.sports .category_heading a {
    font-size: 1.3em;
  }
  .political .news .img,
.sports .news .img {
    width: 5em;
    margin-right: var(--mainPadding);
  }
  .political .news h3,
.sports .news h3 {
    font-size: 2em;
  }
  .videos .video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .videos .video_container .video {
    height: 25em;
  }
  .videos .video_container .video:nth-child(2) {
    margin: var(--mainPadding) 0;
  }
}