@font-face {
  font-family: "Switzer-Variable";
  src: url("../src/fonts/Switzer-Variable/Switzer-Variable.woff2")
      format("woff2"),
    url("../src/fonts/Switzer-Variable/Switzer-Variable.woff") format("woff"),
    url("../src/fonts/Switzer-Variable/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --yellow: rgb(196, 255, 86);
  --yellow: #f7e744;
  --threadBlue: #0721c8;
  --light: white;
  --dark: black;
  --white: white;
  --black: black;

  --border-radius: 5px;
  --stroke-size: 2px;

  --body-size: 1.2em;
  --nav-height: 50px;
  --mainPadding: 1.56em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;

  color: var(--dark);
  font-weight: normal;
}

html,
body {
  font-family: Switzer-Variable, sans-serif;
  font-size: 1vw;

  color: inherit;
  background-color: var(--threadBlue);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    // text-transform: uppercase;
  }

  h1 {
    font-size: calc(var(--body-size) * 3);
  }
  h2 {
    font-size: calc(var(--body-size) * 2);
    font-weight: 500;
  }
  h3 {
    font-size: calc(var(--body-size) * 1.5);
  }
  h4 {
    font-size: calc(var(--body-size) * 1.3);
  }
  h5 {
    font-size: calc(var(--body-size) * 1.2);
  }
  h6 {
    font-size: calc(var(--body-size) * 1.1);
  }
  p {
    font-size: var(--body-size);
    max-width: 60ch;
  }

  .display_heading {
    font-size: calc(var(--body-size) * 4.3);
    font-weight: 900;
    text-transform: uppercase;

    line-height: 1;
  }

  a {
    padding: 0 0 0.25em 0;

    color: var(--dark);
    font-size: inherit;
    text-transform: uppercase;
  }

  button:focus,
  a:focus {
    // outline: none;
    color: var(--dark);
    // background: none;
  }

  button {
    height: 25px;
    padding: 0.1em 0.5em;

    font-family: inherit;
    font-size: 0.9em;
    text-transform: uppercase;

    color: var(--white);
    background-color: var(--threadBlue);
    border: none;
    outline: none;

    cursor: pointer;
  }

  button:hover,
  button:active {
    color: var(--black);
    background-color: var(--yellow);
  }
}

main {
  width: 100%;
  margin: var(--nav-height) auto;

  section {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  // max-width: 100em;

  padding: var(--mainPadding);

  background-color: var(--light);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  .container {
    height: var(--nav-height);
    padding: 0 var(--mainPadding);

    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 11px;
  }
}

@media only screen and (max-width: 568px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (max-width: 420px) {
  html,
  body {
    font-size: 7px;
  }
}
@media only screen and (max-width: 280px) {
  html,
  body {
    font-size: 6px;
  }
}

::selection {
  color: var(--black);
  background-color: var(--yellow);
}
