.home {
  .container {
    background-color: var(--light);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: var(--mainPadding);
    // grid-template-areas: "grid_2  grid_2  grid_5  grid_5  grid_5  grid_5  grid_5  grid_3  grid_3  grid_3";

    .grid_item {
      // padding: 0 var(--mainPadding);
      // background-color: tomato;
    }

    .grid_item_left {
      grid-column-start: 1;
      grid-column-end: 3;

      position: sticky;
      top: calc(var(--mainPadding) * 2); //TODO: Fix this
      height: 86vh;
    }
    .grid_item_center {
      grid-column-start: 3;
      grid-column-end: 8;
    }
    .grid_item_right {
      grid-column-start: 8;
      grid-column-end: 11;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: calc(var(--mainPadding) * 2); //TODO: Fix this
      height: 86vh;
    }
  }
}

.catagory_selection {
  h2 {
    margin-left: calc(var(--mainPadding) / 1.2);
  }
  ul {
    background-color: var(--white);
    // background-color: red;
    padding: calc(var(--mainPadding) / 1.2);

    li {
      margin-bottom: 0.5em;
      opacity: 50%;

      a {
        font-size: calc(var(--mainFontSize) * 0.9);
        text-transform: none;
      }
    }
  }
}

.headline {
  h1 {
    margin-bottom: var(--mainPadding);
  }
  h2 {
    max-width: 32ch;
  }
  .img {
    width: 100%;
    height: 26.04em;
    background-color: var(--imgBG);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 2;
  }

  .news_details {
    padding: var(--secondPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    background-color: var(--white);

    .button,
    button {
      width: 11.82em;
      height: 2.59em;
      border-radius: var(--rounded-radius);
    }
  }
  .news_details::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: inherit;
    z-index: 0;
  }

  .news_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    position: relative;
    padding: 0 var(--secondPadding);
    // width: 100%;
    z-index: 1;
    margin-top: var(--secondPadding);

    span {
      color: var(--red);
      font-weight: bold;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin-left: var(--secondPadding);

        display: flex;
        align-items: center;

        img {
          margin-right: 0.3em;
        }
      }
    }
  }
}

.news_feeds {
  margin: var(--mainPadding) 0;
}

.videos {
  margin-top: calc(var(--mainPadding) * 1.2);

  .video_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--secondPadding);

    .video {
      width: 100%;
      height: 8.33em;
      background-color: var(--imgBG);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20%;
      }
    }
  }
}

.category_heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--mainPadding);
  h2 {
    font-size: var(--mainFontSize);
  }
  a {
    text-transform: none;
    position: relative;
    opacity: 50%;
  }
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    opacity: 50%;
  }
}
.center_heading {
  h2 {
    font-weight: bold;
  }
}

.political {
  width: 100%;
  display: flex;
  flex-direction: column;

  .news {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: var(--secondPadding);
    text-transform: none;
    .img {
      width: 4.17em;
      aspect-ratio: 1;
      background-color: var(--dark);
      border-radius: var(--border-radius);
      margin-right: var(--secondPadding);
    }
    h3 {
      font-size: var(--mainFontSize);
      font-weight: 500;
      max-width: 28ch;
    }
  }
  .news:last-child {
    margin-bottom: var(--mainPadding);
  }
}

.sports {
  .img {
    width: 100%;
    height: 85px;
    background-color: var(--imgBG);
  }
}

@media only screen and (max-width: 1200px) {
  .home {
    .container {
      display: block;
    }
  }
  .catagory_selection {
    display: none;
  }
  .headline {
    h1 {
      font-size: 2em;
      margin-bottom: var(--secondPadding);
    }
    .news_details {
      display: block;

      h2 {
        margin-bottom: var(--secondPadding);
        font-size: 2em;
      }
      .button {
        width: 100%;
        height: 3em;
        font-size: 1.2em;
      }
    }
  }

  .category_heading {
    h2 {
      font-size: 2em;
    }
  }

  .political,
  .sports {
    .category_heading {
      margin: var(--mainPadding) 0;
      h2 {
        font-size: 2em;
      }
      a {
        font-size: 1.3em;
      }
    }

    .news {
      .img {
        width: 5em;
        margin-right: var(--mainPadding);
      }
      h3 {
        font-size: 2em;
      }
    }
  }
  .videos {
    .video_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .video {
        height: 25em;
      }
      .video:nth-child(2) {
        margin: var(--mainPadding) 0;
      }
    }
  }
}
